@font-face {
	font-family: DancingScript;
	src: url(../fuentes/DancingScript-Regular.ttf);
}

body {
	margin-left: auto;
	margin-right: auto;
	font-family:DancingScript;
	width: 70%;
	background: #02010A
}

header{
	padding: 2px;
	background: #5B7989;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	height: 50%;


}

header h1{
	color:#FFFFFF;
	text-shadow: 2px 2px 2px #02010A;
	padding-top: 20px;
	padding-left: 30px;
	font-size: 50px;
}

#menu-principal ul{
	text-align: right;
	padding-right: 15px;
	font-size: 30px;
}

a.nounderline:link
{
text-decoration:none;
}



#contenido{
	margin:0 auto;
	background-color: #D5C75F;
}

#secundarias{
	width:100%;
	display:flex;
	flex-flow: row wrap;
}

.imagenes1{
	width:33.333%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}


.imagenes2{
	width:33.333%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}


.imagenes3{
	width:33.333%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}

.imagenes4{
	width:33.333%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}


.imagenes5{
	width:33.333%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
}


.imagenes6{
	width:33.333%;
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}



img{
	width:80%;
	margin:0 auto;
	display:block;
}



@media only screen and (max-width: 900px) {

	#contenido{
		width:100%;
	}

	.imagenes1{
		width:100%;
	}

	.imagenes2{
		width:100%;
	}

	.imagenes3{
		width:100%;
	}

	.imagenes4{
		width:100%;
	}

	.imagenes5{
		width:100%;
	}

	.imagenes6{
		width:100%;
	}

}

footer {
	background-color: #C6D5C5;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.container {
	margin: 0;
	padding: 0;
	width: 100%;
}

.container div {
	box-sizing: border-box;
	min-width: 150px;
	padding: 20px;
}

.c1 {
	color: black;

}

.c2 {
	color: black;
}

.c3 {
	color: black;
}

.c4 {
	color: black;
}

.container {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
}

.c1, .c2, .c3, .c4 {
	width: 100%;
}

@media (min-width: 900px) {
.c1, .c2, .c3, .c4 {
		width: 25%;
	}
}

@media (min-width: 900px) {

.c1, .c2, .c3, .c4 {
		width: 25%;
	}

	.container {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
}
